*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.card{
    height: 100vh;
    width: 450px;
    background: rgb(218,27,214);
background: linear-gradient(135deg, rgba(218,27,214,1) 0%, rgba(18,117,181,1) 35%, rgba(223,223,223,1) 100%);
    /* margin: 80px 530px; */
    margin-top: 30px;
    margin-left: 36%;
    border-radius: 20px;
}
.head{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 7px;
    
}
.head input{
    height: 50px;
    width: 80%;
    border-radius: 20px;
    border: 0;
    font-size: 20px;
    padding-left: 20px;
    color: rgb(8, 8, 8);
    text-transform: uppercase;
}
.head button{
    height:50px;
    width: 12%;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}
.head i{
    font-size: 20px ;
    color: black;
}
.bottom{
  
    width: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.bottom img{
    height: 80%;
    width: 60%;
}
.city{
    font-size: 50px;
    font-family:  'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}
.temp{
    font-size: 65px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
}
.col{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.humidity{
    font-size: 20px;
}
.wind{
    font-size: 20px;
}
.area{
    font-size: 15px;
    
}
.col img{
    width: 60px;
    color: white;
}
.mar{
padding-top: 30px;
    font-size: medium; 
    color: black;
}
marquee{
    color: black;
}







































@media (max-width:500px) {
    .card{
        height: auto;
        width: auto;
        margin: 0%;
        color: black;
        margin-top: 20px;
        justify-content: center;
    }
    .details{
        width: fit-content;
        gap: 25px   ;
    }
    .col{
        gap: 5px    ;
    }
    
    
}